
@*Ha modelt akarunk átvenni
    @model-el kell kezdeni és csak egy darab paramétert(ezért nem kell neki név sem) lehet neki adni ennek a típusát kell megadni. Ezzel mondjuk meg milyen típusú adatot várunk az Action-tól
    Ezután lesz egy List<string> típusú Model nevű változőnk
    *@
@model List<string>
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <ul>
            @*Lista bejárása foreach ciklussal  Ha a modelt használjul*@
            @foreach (var elem in Model)
            {
                <li>@elem</li>
            }
        </ul>
    </div>
</body>
</html>
