
@*Ha modelt akarunk átvenni
    @model-el kell kezdeni és csak egy darab paramétert(ezért nem kell neki név sem) lehet neki adni ennek a típusát kell megadni. Ezzel mondjuk meg milyen típusú adatot várunk az Action-tól
    Ezután lesz egy List<string> típusú Model nevű változőnk
    *@
@model List<ToDoApp.Contollers.Feladat>
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <ul>
            @*Lista bejárása foreach ciklussal  Ha a modelt használjul*@
            @foreach (var elem in Model)
            {
                if (elem.Elvegezve)
                {
                    <li><del>@elem.Megnevezes</del></li>
                }
                else
                {
                    <li>@elem.Megnevezes</li>
                }
            }
        </ul>
        @*A razor kódban a html és az url helper teszi lehetővé, hogy ne tiszta html kódot kelljen írnunk, hanem a kapott model köré tudjuk szervezni a cshtml kódot*@
        @*Html-ben a hivatkozás így nézne ki
        <a href="http://google.com">Ez egy link</a>*@

        @*A külső hivatkozásokhoz ez is jó azonban ha az alkalmazás egyik action-jét  akarjuk meghívni,
             akkor nem érdemes  megkerülni az útválasztást ezért Razorban a helper-t használjuk inkább*@
        @*Mivel az Index (az ehhez a view-hoz tartozó) action és a hívni kívánt Add action ugyanabban a Contorolleren (Home) van ezért annak megadása nem szükséges
        @Html.ActionLink("Új elem felvitele","Add","Home")*@
        @Html.ActionLink("Új elem felvitele", "Add")
        </div>
    </body>
    </html>
